@font-face {
  font-family: 'Gaisyr Book Italic';
  src: url('assets/ABCGaisyr-BookItalic-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Flowers';
  src: url('assets/flowers.otf') format('opentype');
}

body, html {
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  color: rgb(115, 115, 118);
  line-height: 1;
  background-color: rgb(226,228,235);
}

* {
  box-sizing: border-box;
}

#linklist {
  letter-spacing: -0.01em;
}

#th .column {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  line-height: 1.1;
  padding: 1px 2px;
  z-index: 100;
  background: none;
  border: none;
}


a {
  color: inherit;
  text-decoration: none;
}

/* scrollable area */
html, body {
  height: 100%;
  overflow: hidden; /* prevent default scroll */
}

#scroll-wrapper {
  position: absolute;
  top: 110px; 
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* envelope pop-up formatting */
#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
#popup-container {
  position: relative;
  display: inline-block;
  transform: scale(0.5);
}
#popup-image{
  display: block;
  position: relative;
}
#close-popup {
  position: absolute;
  top: 32%;
  left: 55.5%;
  transform: scale(1.5);
  font-size: 1.25rem;
  padding: 0.5px 2px;
  cursor: pointer;
}
#close-popup:hover {
  font-style: italic;
}

/* in case of loss please return title formatting */
#fixed-header {
  position: fixed;
  top: 2;
  left: 185px;
  width: 100vw;
  font-size: 5.5rem;
  letter-spacing: -0.3rem;
  color: rgb(169, 169, 170);
  z-index: 1;
  pointer-events: none; /* makes it non-blocking unless you want it to be clickable */
}
#fixed-header a {
  color: inherit;
  text-decoration: none;
  pointer-events: auto; /* only the link is clickable */
}

/* sort button formatting */
#sort-button.sort-button {
  margin-left: 10px;
  margin-top: -5px;
  font-size: 0.9rem;
  padding: 0.5px 2px;
  vertical-align: middle;
}
.sort-button:hover {
  font-style: italic;
}

/* sidebar index - separate scroll */
#sidebar-index {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100vh;
  background-color: rgb(236, 238, 245); /* light background like VS Code sidebar */
  border-right: 1px solid rgb(210, 213, 224);
  z-index: 100;
  overflow: hidden;
  padding-top: 100px;
  box-shadow: 0 0 10px rgb(169, 169, 170);
}
#sidebar-scroll {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
#sidebar-scroll::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
.index-entry {
  padding: 4px 10px;
  font-size: 0.9rem;
  color: rgb(115, 115, 118);
  cursor: pointer;
  border-bottom: 1px solid rgb(226,228,235);
}
.index-entry:hover {
  background-color: rgb(210, 213, 224);
  color: rgb(66, 122, 237);
}

/* header formatting at top  */
#fixed-th {
  font-family: 'Gaisyr Book Italic', serif;
  color: rgb(66, 122, 237);
  position: fixed;
  top: 70px;
  left: 175px;
  width: calc(100vw - 200px);
  z-index: 9999;
  padding: 5px 5px;
  overflow: visible;
  pointer-events: none; /* so it doesn't block clicks */
}
#fixed-th .line {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
#fixed-th .column {
  font-size: 2.2rem;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  align-items: left;
  padding: 1 1px;
  pointer-events: none; /* so text isn't selectable/clickable */
  overflow: hidden;
}
#fixed-th .author {
  color:rgb(66, 122, 237);
}
#fixed-th .timestamp {
  color:rgb(66, 122, 237);
  text-align: right;
}
#fixed-th .number {
  color:rgb(66, 122, 237);
  font-size: 1.5rem;
  text-align: center;
}
#fixed-th .column.timestamp {
  text-align: center;
  align-items: flex-start;
}
#fixed-th .column button {
  pointer-events: auto;
}
.time-line {
  text-align: right;
}



.about {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
}

.line {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* prevent columns from wrapping */
  padding: 5px 5px;
  font-size: 1rem;
  line-height: 0.5;
  position: relative; /* required for ::after to align properly */
}
.line::after {
  content: "/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */";
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: monospace;
  font-size: 0.8rem;
  color: rgb(83, 160, 82);
  width: 100%; /* aligns with .line */
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
}
#container-wrapper,
#container {
  max-width: calc(100vw - 195px);
}

.timestamp {
  font-size: 1rem;
}

.timestamp-alt {
  font-size: 1rem;
  letter-spacing: -0.1rem;
}

/* Wraps the background image behind container */
#container-wrapper {
  position: relative;
  margin-left: 175px;
  width: calc(100vw - 200px);
  height: auto;
  overflow: hidden;
}

#container-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}


/* Makes the actual content 80% wide and centered */
#container {
  width: 100%;
  left: 0;
  padding: 0px;
}

#spacer {
  height: 75px;
  width: 100vw;
  display: block;
}

#header,
#th,
.line {
  position: relative;
  z-index: 2;
}

#header {
  position: fixed;
  font-size: 1rem;
  line-height: 0.9;
  width: calc(100vw - 50px);
  min-width: 375px;
  letter-spacing: -0.2rem;
  margin-left: -2px;
  display: inline-block;
}

i {
  padding-left: 5px;
}

/* about tab */
#about-overlay {
  position: fixed;
  bottom: 0;
  right: 20px;
  height: auto;
  max-height: 97vh;
  width: auto;
  max-width: 100vw;
  object-fit: contain;
  z-index: 10000;
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
}



/* Alternate */

.line-alt {
  display: inline;
  border-bottom: none;
  font-size: 4rem;
  transition:0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  letter-spacing: -0.1rem;
  padding: 0px 1px 0px 1px;
  line-height: 1;
}

.line-alt:not(#th):hover{
  /* color: white;
  background-color: black; */
  font-size: 3rem;
  font-style: italic;
  background-color: rgb(226,228,235);
  color: rgb(255, 109, 17);
  border-radius: 2px;
}



.th-alt {
  display: none;
}

.title-alt {
  word-break: break-all;
}

.about-alt {
  width: 200px;
  line-height: 1.3;
}

.number-alt {
  position: relative;
  top: -30px;
  font-size: 1rem;
  letter-spacing: -0.05rem;
  padding-right: 5px;
  white-space: nowrap;
  color: rgb(242, 226, 235);
  background-color: rgb(154, 178, 223);
  padding: 2px;
  border-radius: 2px;
}

.by-alt {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  padding: 7px;
}

.author-alt {
  font-size: 2rem;
  letter-spacing: -0.1rem;
  margin-right: -72px;
}

@media (min-width: 768px) {
  #header {
    font-size: 6rem;
    letter-spacing: -0.3rem;
  }
  
  .entry-line:hover {
    color: rgb(83, 160, 82) !important;
    background-color: rgb(210, 213, 224);
    justify-content: flex-start !important;
    font-size: 2rem;
    letter-spacing: -0.05rem;
    line-height: 0.1;
  }
  .entry-line:hover .author {
    color: rgb(83, 160, 82) !important;
    letter-spacing: normal;
  }
  .entry-line:hover .timestamp {
    color: rgb(83, 160, 82) !important;
    letter-spacing: normal;
  }
  .entry-line:hover .message-404 {
    color: rgb(83, 160, 82) !important;
    font-size: 6rem !important;
    line-height: 0.8 !important;
  }

  .entry-line:hover .column {
    font-size: 2.5rem;
    transition: font-size 0.2s ease;
    line-height: 1;
  }
  

  .line-alt:not(#th):hover {
    letter-spacing: -0.2rem;
    font-size: 6rem;
  }

  .line-alt {
    font-size: 6rem;
  }

  .mobile-alt {
    top: -50px;
  }

  .number-alt {
    top: -50px;
  }
}

/* column formatting */

.column {
  flex: 1;
  padding: 1px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column.number {
  flex: 0 0 3%;
  max-width: 3%;
  text-align: left;
  font-size: 0.9rem;
}
.column.message {
  flex: 0 0 70%;
  max-width: 70%;
  text-align: left;
}
.column.message br {
  display: block;
  margin-bottom: 0.5em; /* adds space between paragraphs */
  overflow: visible;
}
.column.author {
  flex: 0 0 8%;
  max-width: 8%;
  text-align: left;
}
.column.label {
  font-size: 0.9rem;
  flex: 0 0 10%;
  max-width: 10%;
  text-align: left;
}
.column.timestamp {
  font-size: 0.9rem;
  flex: 0 0 8%;
  max-width: 8%;
  text-align: right;
}
.column {
  border: 0.5px dashed rgba(0,0,0,0.2);
}

.entry-line:hover .column.number,
.entry-line:hover .column.timestamp {
  font-size: 0.9rem !important; /* to not grow font size of number and timestamp */
}

.entry-line:hover .column.author {
  align-items: flex-start !important;
  text-align: left !important;
  font-size: 1rem;
}


.author {
  color:rgb(124, 77, 255);
}

/* No. line formatting */
.number {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: left;
  align-items: flex-start;
  width: 100%;

  max-height: 2em; /* Approx 2 lines */
  line-height: 1em;
  padding: 0.5px 2px; /* top/bottom & sides */
  transition: max-height 0.3s ease;
}

.entry-line:hover .number {
  -webkit-line-clamp: unset;
  max-height: none; /* expands to full height */
}

/* subject line formatting */
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: left;
  align-items: flex-start;
  width: 100%;

  max-height: 2em; /* Approx 2 lines */
  line-height: 1em;
  padding: 0.5px 2px; /* top/bottom & sides */
  transition: max-height 0.3s ease;
}

.entry-line:hover .title {
  -webkit-line-clamp: unset;
  max-height: none; /* expands to full height */
}

/* author line formatting */
.author {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: left;
  align-items: flex-start;
  width: 100%;

  max-height: 2em; /* Approx 2 lines */
  line-height: 1em;
  align-items: left;
  padding: 0.5px 2px; /* top/bottom & sides */
  transition: max-height 0.3s ease;
}

.entry-line:hover .author {
  -webkit-line-clamp: unset;
  max-height: none; /* expands to full height */
}

/* message formatting */
.message {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: left;
  align-items: flex-start;
  width: 100%;

  max-height: 2.2em; /* Approx 2 lines */
  line-height: 1em;
  padding: 1px 2px; /* top/bottom & sides */
  transition: max-height 0.3s ease;
}

/* formatting for 404 messages */
.message-404 {
  font-family: 'Flowers', sans-serif;
  font-size: 1.5rem;
  line-height: 0.9;
}

.entry-line:hover .message {
  -webkit-line-clamp: unset;
  max-height: none; /* expands to full height */
}

/* timestamp formatting */
.timestamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: right;
  align-items: right;
  width: 100%;

  max-height: 2em; /* Approx 2 lines */
  line-height: 1em;
  padding: 0.5px 2px; /* top/bottom & sides */
  transition: max-height 0.3s ease;
}

.entry-line:hover .timestamp {
  -webkit-line-clamp: unset;
  max-height: none; /* expands to full height */
}

.line .timestamp {
  color:rgb(83, 160, 82);
}

.line .number {
  color:rgb(83, 160, 82);
}

/* submission form css */

#submission-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px; 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#submission-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

#submission-overlay {
  position: absolute;
  z-index: 1000;
  padding: 10px;
  bottom: -10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submission-form {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1000;
  max-width: 100%;
  background: transparent;
}

#submission-form input[name="subject line"],
#submission-form input[name="author"] {
  color: rgb(83, 160, 82); 
  padding: 5px;
  border: 1px solid rgb(83, 160, 82);
  background-color: rgb(236, 238, 245);
  border-radius: 4px;
  font-size: 1rem;
}

#submission-form input[name="subject line"]::placeholder,
#submission-form input[name="author"]::placeholder {
  color:rgb(169, 169, 170);
  font-size: 1rem;
}
#submission-form textarea[name="message"]::placeholder {
  color: rgb(169, 169, 170);
}
#submission-form input:focus,
#submission-form textarea:focus {
  outline: none;
  border: 1px solid rgb(83, 160, 82); 
  box-shadow: 0 0 0 2px rgba(152, 195, 121, 0.3);
}

#submission-form textarea[name="message"] {
  font-family: sans-serif;
  font-size: 1rem;
  flex: 1 1 800px;
  width: 600px;
  height: 7rem;
  padding: 6px;
  color: rgb(83, 160, 82);
  border: 1px solid rgb(83, 160, 82);
  background-color: rgb(236, 238, 245);
  border-radius: 4px;
  resize: none;
}

#submission-form .label-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 8px;
}

#submission-form .input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.input-stack {
  width: 100%;
  max-width: 250px; 
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-stack input {
  width: 100%; /* makes both inputs expand to fill stack width */
}

/* submission form error message formatting */
.error-message {
  color: rgb(205, 96, 105);
  font-size: 0.8rem;
  margin-top: 2px;
  padding-left: 0px;
  display: block;
}

/* labels formatting in submission form */
.form-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label-title {
  font-family: 'Gaisyr Book Italic', serif;
  font-size: 1.1rem;
  letter-spacing: -0.02em;
  color: rgb(115, 115, 118);
  margin-top: -12px;
}

.label-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 0 0 auto;
  margin-top: 6px;
}

.label-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 10px;
  padding-left: 2px;
}

.checkbox-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Hide default checkbox */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Label setup */
.custom-checkbox {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  user-select: none;
  display: inline-flex;
  align-items: center;
  color: rgb(115, 115, 118);
}

/* Custom square box */
.custom-checkbox .checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: rgb(236, 238, 245);
  border: 1px solid rgb(83, 160, 82);
  border-radius: 2px;
  box-sizing: border-box;
}

/* add checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: -2px;
  width: 5px;
  height: 10px;
  border: solid rgb(83, 160, 82);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox:hover .checkmark {
  background-color: rgb(236, 238, 245);
}

#submission-form button {
  /* color: rgb(0, 89, 255);
  border: 1px solid rgb(0, 89, 255);
  border-radius: 3px;
  background: none; */
  cursor: pointer;
  font-size: 1rem;
  padding: 0 2px;
  /* font: inherit; */
}

#submission-form button:hover {
  font-style: italic;
}

/* Base tag style */
.tag-button {
  display: inline-block;
  padding: 0.5px 2px;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  margin: 0px;
  background-color: transparent;
}

/* Missed Connections */
.tag-button[data-label="missed-connections"] {
  color: rgb(255, 109, 17);
  border: 1px solid rgb(255, 109, 17);
}
.tag-button[data-label="missed-connections"]:hover {
  background-color: rgb(255, 109, 17);
  color: rgb(236, 238, 245);
}

/* Past Lives */
.tag-button[data-label="past-lives"] {
  color: rgb(83, 160, 82);
  border: 1px solid rgb(83, 160, 82);
}
.tag-button[data-label="past-lives"]:hover {
  background-color: rgb(83, 160, 82);
  color: rgb(236, 238, 245);
}

/* 404 Error */
.tag-button[data-label="404-error"] {
  color: rgb(199, 56, 198);
  border: 1px solid rgb(199, 56, 198);
}
.tag-button[data-label="404-error"]:hover {
  background-color: rgb(199, 56, 198);
  color: rgb(236, 238, 245);
}

/* Servant of Sadness */
.tag-button[data-label="servant-of-sadness"] {
  color: rgb(0, 190, 196);
  border: 1px solid rgb(0, 190, 196);
}
.tag-button[data-label="servant-of-sadness"]:hover {
  background-color: rgb(0, 190, 196);
  color: rgb(236, 238, 245);
}

/* thank you message formatting */
#thank-you-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#thank-you-popup .popup-content {
  position: relative;
}
#thank-you-popup .popup-content img {
  max-width: 50vw;
  max-height: 50vh;
  display: block;
}
#close-thank-you {
  position: absolute;
  top: 10%;
  left: 48%;
  transform: translate(-50%,-50%);
  font-size: 0.9rem;
  padding: 0.5px 2px;
  cursor: pointer;
}
#close-thank-you:hover {
  font-style: italic;
}

/* other tab backgrounds */
#link-404 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 0; /* same as image */
  pointer-events: auto; /* enable click */
}

#background-404 {
  width: 100vw;
  height: auto;
  pointer-events: auto;
  opacity: 1;
  display: block;
}

#container-bg {
  z-index: 1; /* Still above the 404 background */
}